<h1>Create a New Category</h1>
<%= simple_form_for @category do |f| %>
  <div class="form-group">
    <%= f.input :name, required: true, label: "Category Name" %>
  </div>

  <%= f.submit "Create Category", class: "btn btn-success" %>
<% end %>
