<h1><%= @category.name %></h1>
<p>All recipes for this category:</p>

<ul>
  <% @category.recipes.each do |recipe| %>
    <li>
      <%= recipe.name %> |
      <%= link_to "Delete", bookmark_path(recipe.bookmark), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
